/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-nestedcardblock {
	border: 1px dotted black;
}

.block-editor-block-list__block.column-3 {
	>.block-editor-inner-blocks>.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;

		.block-list-appender {
			border: 1px dashed gray;
			padding: 20px;
		}
	}

}

.block-editor-block-list__block.column-2 {
	>.block-editor-inner-blocks>.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

	.block-list-appender {
		border: 1px dashed gray;
		padding: 20px;
	}
}

.block-editor-block-list__block.column-1 {
	>.block-editor-inner-blocks>.block-editor-block-list__layout {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}

	.block-list-appender {
		border: 1px dashed gray;
		padding: 20px;
	}
}

.is-loading {
	position: relative;

	img {
		opacity: 0.5;
	}

	.components-spinner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
}

.block-editor-block-list__block {
	h2 {
		font-size: 1.5rem !important;
		text-transform: uppercase;
		font-weight: bold !important;
	}

	p {
		font-size: 1rem !important;
		line-height: 1.5;
	}
}