/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-nestedcardblock {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
	max-width: 1200px;
	margin: 20px auto;
	padding: 10px;

}

.column-1 {
	>.layout-grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

.column-2 {
	>.layout-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
	}

}

.column-3 {
	>.layout-grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}